#!/home/<dreamhostuser>/venv/bin/python

# scms Copyright (C) 2020 - nomike <nomike@nomike.com>
# This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
# This is free software, and you are welcome to redistribute it
# under certain conditions; type `show c' for details.

import sys, os
INTERP = os.path.join(os.environ['HOME'], 'venv', 'bin', 'python')
if sys.executable != INTERP:
    os.execl(INTERP, INTERP, *sys.argv)
sys.path.append(os.getcwd())
sys.path.append('scms')
from scms import app as application
