{% extends 'base.html' %}
{% block title %}/{{ path }}{% endblock %}\
{% block menu %}
{% if not templatehelper.os.path.exists(templatehelper.os.path.join('public', path, '.scmsnonavigation')): %}
<div class="sidebar" id="sidebar">
    <a href="#" class="menubutton" onclick="myFunction()">
        <div></div>
        <div></div>
        <div></div>
    </a>
    {% for file in templatehelper.listdir(path) %}
    {% if templatehelper.os.path.exists(templatehelper.os.path.join('public', path, file + '.scmstarget')): %}
        <a href="{{ file }}" target="{{ templatehelper.readfile(templatehelper.os.path.join('public', path, file + '.scmstarget')) }}"><i class="fas {{ templatehelper.getfasicon(templatehelper.os.path.join(path, file)) }}"></i> {{ file }}</a>
    {% else %}
        <a href="{{ file }}"><i class="fas {{ templatehelper.getfasicon(templatehelper.os.path.join(path, file)) }}"></i> {{ file }}</a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if templatehelper.os.path.isfile(templatehelper.os.path.join(pathprefix, path, 'index')) %}
{{ templatehelper.readfile(templatehelper.os.path.join(pathprefix, path, 'index')) | safe }}
{% else %}
<h1>/{{ path }}</h1>
{% endif %}
{% endblock %}
