{% extends 'base.html' %}
{% block title %}/{{ path }}{% endblock %}\
{% block breadcrumbs %}
<div class="powerline">
    <a class="powerline__component" href="/"><i class="fas fa-home"></i></a>
    {% for parentpath, parentname in templatehelper.getparents(path) %}
    <a class="powerline__component" href="{{ parentpath }}"><i class="fas fa-folder"></i> {{ parentname }}</a>
    {% endfor %}
</div>
{% endblock %}
{% block menu %}
{% for file in templatehelper.listdir(path) %}
<a href="{{ file }}"><i class="fas {{ templatehelper.getfasicon(templatehelper.os.path.join(path, file)) }}"></i> {{ file }}</a>
{% endfor %}
{% endblock %}

{% block content %}
{% if templatehelper.os.path.isfile(templatehelper.os.path.join(pathprefix, path, 'index')) %}
{{ templatehelper.readfile(templatehelper.os.path.join(pathprefix, path, 'index')) | safe }}
{% else %}
<h1>/{{ path }}</h1>
{% endif %}
{% endblock %}
